repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0   # check latest tag on GitHub
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 24.4.2   # use a specific version
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
